 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Anmol Jain is a Data Enthusiast and he is currently specializing in Data Analytics. His experience at CMU has involved gathering data, conducting analysis and recommending strategies for retail, telecommunication and IT industries.</p>
                </div>
                <div class="col-lg-4">
                    <p>His academic experience coupled with internships has helped him build proficiencies in market research, statistical modeling and customer analysis.</p>
                </div>
           <!--     <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>