 <!-- Skills Section -->
    <section  id="skill">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <ul>
                      <li>Programming Languages
                        <ul>
                        <li>PYTHON</li>
                        <li>SQL</li>
                        <li>R</li>
                        <li>JAVA</li>
                        </ul>
                      </li>
                      <li>Web Technologies
                        <ul>
                        <li>HTML</li>
                        <li>JAVASCRIPT</li>
                        </ul>
                      </li>
                      <li>Web Analytics
                        <ul>
                        <li>comScore</li>
                        <li>Kairos</li>
                        <li>Sprinklr</li>
                        </ul>
                      </li>
                      <li>Databases
                        <ul>
                        <li>Oracle 11g</li>
                        <li>MongoDB</li>
                        </ul>
                      </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                      <li>Databases
                        <ul>
                        <li>Oracle 11g</li>
                        <li>MongoDB</li>
                        </ul>
                      </li>
                    </ul>
                </div>
           <!--     <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>