 <!-- About Section -->
    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <ul>
                      <li>Programming Languages
                        <ul>
                        <li>PYTHON</li>
                        <li>SQL</li>
                        <li>R</li>
                        <li>JAVA</li>
                        </ul>
                      </li>
                      <li>Milk</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <p>His academic experience coupled with internships has helped him build proficiencies in market research, statistical modeling and customer analysis.</p>
                </div>
           <!--     <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>