 <!-- Skills Section -->
    <section  id="skill">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                <p>
                    <ul>
                      <li>Programming Languages
                        <ul>
                        <li>PYTHON</li>
                        <li>SQL</li>
                        <li>R</li>
                        <li>JAVA</li>
                        </ul>
                      </li>
                       <br>
                      <li>Databases
                        <ul>
                        <li>Oracle 11g</li>
                        <li>MongoDB</li>
                        </ul>
                      </li>
                      <br>
                      <br>
                      <br>
                      <li>Web Technologies
                        <ul>
                        <li>HTML</li>
                        <li>JAVASCRIPT</li>
                        </ul>
                      </li>
                      <br>
                      <li>Web Analytics
                        <ul>
                        <li>comScore</li>
                        <li>Kairos</li>
                        <li>Sprinklr</li>
                        </ul>
                      </li>
                    <br>
                    <li>Visualisation Tools
                        <ul>
                        <li>Tableau</li>
                        </ul>
                      </li>
                    </ul>
                    </p>
                </div>
                <div class="col-lg-4">
                    <ul>
                      <li>Data Science
                        <ul>
                        <li>Natural Language Processing</li>
                        <li>SciKit Learn</li>
                        <li></li>
                        </ul>
                      </li>
                      <br>
                       <br>

                      <li>Big Data Technologies
                        <ul>
                        <li>Amazon Web Services</li>
                        <li>Spark</li>
                        <li>Hadoop</li>
                        <li>MapReduce</li>
                        </ul>
                      </li>
                       <br>
                      <li>Statistical Tools
                        <ul>
                        <li>Stata</li>
                        <li>Minitab</li>
                        </ul>
                      </li>
                      <br>
                      <li>Functional Skills
                        <ul>
                        <li>Data Analytics</li>
                        <li>Data Visualisation</li>
                        <li>AB Testing</li>
                        </ul>
                      </li>
                    </ul>
                </div>
           <!--     <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>